@import "rsuite/dist/rsuite.css";

:root {
  --primary-color: #e30019;
  --primary-bg-color: #be1529;
  --primary-bg-color-20: #ffd9d9;
  --text-secondary-color: #6d6e72;
  --success-color: rgb(118, 168, 20);
  --bg-success-color: #76a81433;
  --waiting-color: #b16f13;
  --bg-waiting-color: #b16f1333;
  --cancel-color: #c02323;
  --bg-cancel-color: #c0232333;
  --border-color: #cfcfcf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color:#000;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main_container {
  min-height: 100vh;
  margin-left: 250px;
  background-color: rgb(240 240 240);
  padding: 24px;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
}
.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 1.5px 1.5px 2px;
}

.btn_normal {
  padding: 8px 32px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  font-weight: 500;
}
.btn_normal.btn_accept {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.btn_page {
  background-color: #fff;
  min-width: 50px;
  border-radius: 6px;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
}
.btn_page.active {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
  font-weight: 500;
}

/* Modal */
.modal_custom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.modal_custom .modal_content {
  background-color: #fff;
  border-radius: 12px;
  width: 450px;
  position: relative;
  padding: 8px 12px;
}
.modal_close {
  text-align: right;
  font-size: 24px;
  cursor: pointer;
}
.modal_header{
  background-color: #333545;
  padding: 4px 16px;
  margin:-8px -12px 0 -12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color:#fff;
}
.modal_header button{
  font-size: 24px;
  color:#fff;
  line-height: 30px;
  padding-right: 0;
}

.modal_body {
  padding: 0 12px;
  margin: 24px 0;
}
.modal_border_bottom{
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal_border_bottom:last-child{
}

.modal_border_bottom > p{
  min-width: 56px;
}

.modal_border_bottom input{
  border:none;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 12px;
}

/* Custom Filter */

.filter_menu {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
}

.filter_menu > div {
  flex: 1 1 45%;
}
.filter_menu > div.active {
  color: var(--primary-color);
  font-weight: 500;
}

.filter_menu > div.active .form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.filter_range {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_range > div {
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 4px;
}
.filter_range > div input {
  border: none;
  flex: 1;
  padding-right: 8px;
  text-align: right;
}
.filter_range > hr {
  width: 60px;
  background-color: var(--border-color);
  height: 1px;
  opacity: 1;
}
.filter_range > div span {
  opacity: 0.5;
}

/* --------- SIDE BAR -----------*/
@import url("./side_bar.css");

/* --------- HEADER -----------*/
@import url("./header.css");

/* --------- HOME -----------*/
@import url("./home.css");

/* --------- TABLE -----------*/
@import url("./table.css");

/* ---------  ADD PRODUCT -----------*/
@import url("./add_product.css");

/* ---------  EDIT PRODUCT -----------*/
@import url("./edit_product.css");

/* ---------  ORDER -----------*/
@import url("./order.css");

/* ---------  ORDER DETAIL -----------*/
@import url("./order_detail.css");

/* ---------  ADD ORDER -----------*/
@import url("./add_order.css");

/* ---------  CUSTOMER DETAIL -----------*/
@import url("./customer_detail.css");

/* ---------  ADD CUSTOMER -----------*/
@import url("./add_customer.css");


/* ---------  LOADING -----------*/
@import url("./loading.css");
