.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  padding: 24px;
  border-right: 1px solid var(--border-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.side_bar.active {
  transform: translateX(0);
}

.side_bar-logo img {
  width: 100%;
  height: 100%;
}

.side_bar .divider {
  border-top: 0px solid rgba(0, 0, 0, 0.12);
  border-right: 0px solid rgba(0, 0, 0, 0.12);
  border-left: 0px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-image: linear-gradient(
    to right,
    rgba(52, 71, 103, 0),
    rgba(52, 71, 103, 0.5),
    rgba(52, 71, 103, 0)
  ) !important;
}

.side_bar .nav-link {
  font-size: 16px;
  color: rgb(103, 116, 142);
}

.side_bar .nav-link.active {
  color: var(--primary-color);
  font-weight: 500;
}
.side_bar .nav-link.active .icon_wrapper {
  background-color: var(--primary-color);
  color: #fff;
}

.side_bar .nav-link .icon_wrapper {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 236, 239);
  color: rgba(0, 0, 0, 0.54);
  border-radius: 8px;
  box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
}

.side_bar .navbar .icon_wrapper i {
  font-size: 16px;
}
