:root {
  --primary-color: #e30019;
  --primary-bg-color: #be1529;
  --primary-bg-color-20: #FFD9D9;
  --text-secondary-color: #6d6e72;
  --border-color: #cfcfcf;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}
.form-control:focus {
  border-color: unset;
  box-shadow: unset;
}

.btn_primary {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
}

.btn_primary_outline {
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
}

.btn_primary:hover {
  background-color: var(--primary-bg-color);
  opacity: 0.9;
  color: #fff;
}

.btn_secondary {
  background-color: #ececec;
  border: 1px solid #e0e0e0;
  color: #000;
  border-radius: 4px;
}
.btn_secondary:hover {
  background-color: #ececec;
  color: #000;
  opacity: 0.9;
}
/* Custom modal  */
.modal_main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

/* --------- HEADER -----------*/
@import url("./header.css");

/* --------- MODAL AUTH -----------*/
@import url("./modalAuth.css");

/* --------- MODAL LOGOUT -----------*/
@import url("./modalLogout.css");

/* --------- ACCOUNT -----------*/
@import url("./account.css");

/* --------- PRODUCT -----------*/
@import url("./product.css");
